body {
    font-family: "Lato", "Helvetica";
}

#hero {
    background-image: url("trees1.jpg");
    height: 825px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
}

#headline {
    text-align: center;
    padding-top: 350px;
    /* padding-left: 35%; */
}

#headline h1 {
    padding: 3%;
}

#headline h3 {
    padding-bottom: 3%;
}


#about {
    height: 500px;
    padding-top: 3em;
    background-color: rgb(236, 240, 241);
    color: #5cb85c;
}

#about h3 {
    padding-bottom: 2em;
    text-align: center;
}
#about p {
    line-height: 2em;
}


#services {
    height: 600px;
    padding: 5% 0 5% 2%;
    background-color:#6C7A89;
    margin: 0;
}

#services h3 {
    padding-left: 14%;
    padding-top: 3%;
    color:  rgb(210, 215, 211); 
    font-size: 2.25em;
}

#services-list {
    list-style: none;
    padding-left: 15%;
    padding-top: 3%;
    color:  rgb(210, 215, 211); 
    font-size: 2.25em;
    line-height: 2.5em;
}

#benefits {
    width: 100%;
    height: 600px;
    padding-top: 5%;
    background-color: rgb(236, 240, 241);
    color: #5cb85c;
}

#benefits h3 {
    text-align: center;
    padding-bottom: 5%;
}

footer {
    background-color: #6C7A89;
    width: 100%;
    height: 300px;
}

@media (max-width: 575.98px) { 
    #headline {
        padding-top: 200px;
    }
    
    #headline h3 {
        padding-top: 10%;
        padding-bottom: 20%;
    }

    #about{
        height: 1050px;
    }
    #about h3 {
        padding: 2%;
    }
    
    #services{
        height: 500px;
    }

    #services h3{
        padding-left:0;
    }

    #services-list{
        line-height: 2.25em;
        padding-left: 0;
    }

    #fluid-img{
        display: none;
    }

    #benefits{
        height: 1200px;
        padding-left: 9%;
    }

    #benefits h3 {
        padding-right: 10%;
    }

    #benefits .card {
        margin-bottom: 10%;
    }

    footer {
        height: 200px;
    }
 }
